In [1]:
from sqlite3 import connect
from pandas import read_sql

with connect("../04/publications.db") as con:
    query = "SELECT title FROM JournalArticle"
    df_sql = read_sql(query, con)
    
df_sql  # show the content of the result of the query

ModuleNotFoundError: No module named 'pandas'

In [2]:
with connect("../04/publications.db") as con:
    query = "SELECT * FROM JournalArticle"
    df_journal_article_sql = read_sql(query, con)

# Show the series of the column 'publicationYear', which as 'dtype'
# specifies 'int64', as expected
df_journal_article_sql["publicationYear"]

OperationalError: unable to open database file

In [3]:
from sparql_dataframe import get

endpoint = "http://127.0.0.1:9999/blazegraph/sparql"
query = """
PREFIX rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX schema: <https://schema.org/>

SELECT ?journal_article ?title
WHERE {
    ?journal_article rdf:type schema:ScholarlyArticle .
    ?journal_article schema:name ?title .
}
"""
df_sparql = get(endpoint, query, True)
df_sparql

ModuleNotFoundError: No module named 'sparql_dataframe'

In [4]:
publication_query = """
PREFIX rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX schema: <https://schema.org/>

SELECT ?internalId ?doi ?publicationYear ?title ?issue ?volume ?publicationVenue
WHERE {
    VALUES ?type {
        schema:ScholarlyArticle
        schema:Chapter
    }
    
    ?internalId rdf:type ?type .
    ?internalId schema:identifier ?doi .
    ?internalId schema:datePublished ?publicationYear .
    ?internalId schema:name ?title .
    ?internalId schema:isPartOf ?publicationVenue .
        
    OPTIONAL {
        ?internalId schema:issueNumber ?issue .
        ?internalId schema:volumeNumber ?volume .
    }
}
"""

df_publications_sparql = get(endpoint, publication_query, True)
df_publications_sparql

NameError: name 'get' is not defined

In [5]:
df_publications_sparql.dtypes

NameError: name 'df_publications_sparql' is not defined

In [6]:
df_publications_sparql["issue"] = df_publications_sparql["issue"].astype("string")
df_publications_sparql["volume"] = df_publications_sparql["volume"].astype("string")

df_publications_sparql.dtypes

NameError: name 'df_publications_sparql' is not defined

In [7]:
df_publications_sparql = df_publications_sparql.fillna("")

df_publications_sparql

NameError: name 'df_publications_sparql' is not defined

In [8]:
def remove_dotzero(s):
    return s.replace(".0", "")

In [9]:
df_publications_sparql["issue"] = df_publications_sparql["issue"].apply(remove_dotzero)
df_publications_sparql["volume"] = df_publications_sparql["volume"].apply(remove_dotzero)

df_publications_sparql

NameError: name 'df_publications_sparql' is not defined

In [10]:
from pandas import concat

df_union = concat([df_journal_article_sql, df_publications_sparql], ignore_index=True)
df_union

ModuleNotFoundError: No module named 'pandas'

In [11]:
df_union_no_duplicates = df_union.drop_duplicates(subset=["doi"])
df_union_no_duplicates

NameError: name 'df_union' is not defined

In [12]:
df_union_no_duplicates_sorted = df_union_no_duplicates.sort_values("publicationYear")
df_union_no_duplicates_sorted

NameError: name 'df_union_no_duplicates' is not defined

In [13]:
df_final = df_union_no_duplicates_sorted[["title", "publicationYear"]]
df_final

NameError: name 'df_union_no_duplicates_sorted' is not defined